.space {
    margin-top:75px;
}
.score-board {
    display: flex;
    margin-top: 150px;
    margin: 0 50px;
    min-height: 150px;
    font-size: 12pt;
    margin-bottom: 30px;
    flex-direction:row
    }

.frame {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.frame:last-child {
  flex: 3;
}

.frame-score {
  flex : 1;
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.running-score {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.extra {
  display: none;
}

.frame:last-child div.extra {
  display: flex;
}
